<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linh Phan | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css">
  </head>
  <body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Web Huong Dan</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Nguyen</a></li>
          <li><a href="#">Phan</a></li>
          <li><a href="#">Nhat</a></li>
          <li><a href="#">Linhh</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout large primary">
      <div class="row column text-center">
        <h1 style="color: white>Ruby on Rails</h1>
      </div>
    </div>
    <div class="row" id="content">
       <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>Categories</h4>
            <% arr.each do |a| %>
              <ul>
                <a href="#" onclick="loadDoc('<%= File.basename(a, 'md')+'html' %>')"><%= File.basename(a, '.md')%></a>
              </ul>
            <% end %>
        </div>
      </div>
      <div class="medium-8 columns">
        <div class="blog-post">
          <div id="content-test">
            <script type="text/javascript">
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function () 
              {
                if (this.readyState == 4 && this.status == 200) 
                {
                  document.getElementById("content-test").innerHTML = this.responseText;
                }
              };
              xhttp.open("GET", "File Hướng dẫn.html", true);
              xhttp.send();
            </script>
          </div>
        </div>
      </div>
    </div>  
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation ();
      function loadDoc (file_name_html) 
      {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () 
        {
          if (this.readyState == 4 && this.status == 200) 
          {
            document.getElementById("content-test").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", file_name_html, true);
        xhttp.send();
      }
    </script>  
  </body> 
</html>